.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#quote-box {
  background-color: white;
  border-radius: 5px;
  padding: 40px 20px 40px 20px;
  width: 50%;
}

#author {
  font-family: monospace;
  font-size: 20px;
  text-align: end;
}

#tweet-quote {
  color: white;
  float: left;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px;
  margin-left: 15px;
}

#new-quote {
  color: white;
  border: none;
  border-radius: 4px;
  float: right;
  padding: 8px;
  margin-right: 15px;
  cursor: pointer;
}

#button {
  display: flex;
  justify-content: space-between;
  min-hight: 20px;
}

#name {
  font-size: 15px;
  color: white;
}
